.magenta{background:#97321C!important;}
.c1{background:#97321C!important;}
.carousel-caption{border-color:#97321C!important;}
.news{background:#97321C!important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color: #97321C!important;}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{background-color:#97321C!important;}
ul.tabs li:hover {background-color: #97321C!important;}
ul.tabs li.active {background: #97321C!important;}
.sticky li{background: #97321C!important;}
.content-item .overlay {border-bottom: 10px solid #97321C!important;}
.content-item:hover .overlay {border-bottom: 800px solid #97321C!important;}
.c-week-day ,.c-event-body,.c-event{background-color: #97321C !important;}
.c-event-item {border:none !important;background:#082946 !important;}
.c-event-over {background-color: #082946!important;}
.c-nav-btn-over {background-color: #97321C!important;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#97321C!important; border: 1px solid #97321C!important;}
.navbar-toggle{background:#97321C!important;}
.table-bordered>tbody>tr>th{background: #97321C!important; color:#fff!important;}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#73bacd!important;}
.stdnews{background: #97321C!important;}

@media screen and (max-width: 767px) {
.d_active {background-color: #97321C!important;}
}