.magenta{background:#015150!important;}
.c1{background:#015150!important;}
.carousel-caption{border-color:#015150!important;}
.news{background:#015150!important;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{background-color: #015150!important;}
.navbar-inverse .navbar-nav>li>a:focus,.navbar-inverse .navbar-nav>li>a:hover{background-color:#015150!important;}
ul.tabs li:hover {background-color: #015150!important;}
ul.tabs li.active {background: #015150!important;}
.sticky li{background: #015150!important;}
.content-item .overlay {border-bottom: 10px solid #015150!important;}
.content-item:hover .overlay {border-bottom: 800px solid #015150!important;}
.c-week-day ,.c-event-body,.c-event{background-color: #015150 !important;}
.c-event-item {border:none !important;background:#082946 !important;}
.c-event-over {background-color: #082946!important;}
.c-nav-btn-over {background-color: #015150!important;}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{background:#015150!important; border: 1px solid #015150!important;}
.navbar-toggle{background:#015150!important;}
.table-bordered>tbody>tr>th{background: #015150!important; color:#fff!important;}
.navbar-inverse .navbar-toggle:focus,.navbar-inverse .navbar-toggle:hover{background-color:#b6855e!important;}
.stdnews{background: #015150!important;}

@media screen and (max-width: 767px) {
.d_active {background-color: #015150!important;}
}